<template>
	<section>
		<!-- initial list -->
		<b-container v-show="showHideDoctors">
			<b-row>
				<b-col>
					<b-alert show
						variant="warning">
						so these results are genterated from their
						<strong>AUTO COMPLETE api</strong>, that's why I'm able to get their
						specialties you'll see in the next click.<br>
						these results would pull in from the the questionare form that we
						build, but ideally would contain similar data
					</b-alert>
				</b-col>
			</b-row>
			<b-row>
				<b-col v-for="person in getDoctors"
					:key="person.value">
					<b-card
						:title="person.label"
						:img-src="person.thumbnail"
						:img-alt="person.label"
						img-top
						class="mb-2">
						<b-card-text>
							123<br>
							This is using auto-complete reults, descriptions are
							<strong>NOT</strong> part of that API
						</b-card-text>
						<b-button
							@click="
								getDoctorAPI(person.value, person.thumbnail, person.specialties)
							"
							variant="primary">
							Show doctor information
						</b-button>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
		<!-- individual person -->
		<b-container v-show="showHideDoctor">
			<b-row>
				<b-col>
					<b-alert show
						variant="warning">
						there would probably be a button here that is something like, go
						back to results??? <br>
						this will be a single page app for this work flow, so refreshing
						and/or going back would reset the whole process over again
					</b-alert>
					<b-button @click="backToResults()"
						variant="secondary">
						back to results
					</b-button>
				</b-col>
			</b-row>
			<b-row>
				<b-col md="4">
					<h1
						v-html="getDoctor.title ? getDoctor.title.rendered : 'Doctor...'" />
					<b-img
						:src="getDoctor ? getDoctor.featuredImage : ''"
						fluid
						alt="Responsive image" />
					<h2>
						Specialties
					</h2>
					<ul v-if="getDoctor.specialties">
						<li v-for="item in getDoctor.specialties"
							:key="item">
							{{ item }}
						</li>
					</ul>
				</b-col>
				<b-col
					v-if="checkBioLength"
					v-html="getDoctor.content ? getDoctor.content.rendered : ''" />
				<b-col v-else>
					<p>Bio coming soon!</p>
				</b-col>

				<b-container
					id="pdf-container"
					aria-hidden="true"
					tabindex="-1"
					class="d-none">
					<b-row>
						<b-col class="text-center">
							<h1
								v-html="
									getDoctor.title ? getDoctor.title.rendered : 'Doctor...'
								" />
							<h4>
								Specialties include
							</h4>
							<ul v-if="getDoctor.specialties">
								<li v-for="item in getDoctor.specialties"
									:key="item">
									{{ item }}
								</li>
							</ul>
						</b-col>
					</b-row>
					<b-row>
						<b-col sm="12">
							<h2>Bio</h2>
						</b-col>
						<b-col
							v-if="checkBioLength"
							v-html="getDoctor.content ? getDoctor.content.rendered : ''" />
						<b-col v-else>
							<p>Bio coming soon!</p>
						</b-col>
					</b-row>
				</b-container>
			</b-row>
		</b-container>
	</section>
</template>

<script>
// import VueHtml2pdf from 'vue-html2pdf';
import HoagService from './services/HoagMedialGroup';

export default {
	name: 'CardExample',
	data() {
		return {
			doctor: ''
		};
	},
	computed: {
		showHideDoctors() {
			return this.$store.state.showDoctors;
		},
		getDoctors() {
			return this.$store.state.doctors;
		},
		showHideDoctor() {
			return this.$store.state.showDoctor;
		},
		getDoctor() {
			return this.$store.state.doctor;
		},
		checkBioLength() {
			if (this.getDoctor.content && this.getDoctor.content.rendered.length) {
				// This will return error
				return true;
			}
			return false;
		}
	},
	mounted() {
		HoagService.getAutoCompleteResults('Ama')
			.then((response) => {
				// console.log(response.data);
				this.$store.commit('DOCTORS_VISIBILITY', true);
				this.$store.commit('SET_DOCTORS', response.data.results);
			})
			.catch((error) => {
				console.log('There was an error:', error.response);
			});
	},
	methods: {
		getDoctorAPI(value, image, specialties) {
			const url = value;
			const array = url.split('/');
			const lastsegment = array[array.length - 2];
			HoagService.getPhysician(lastsegment)
				.then((response) => {
					// console.log(response.data[0]);
					const [doctor] = response.data;
					doctor.featuredImage = image;
					doctor.specialties = specialties;
					this.$store.commit('DOCTORS_VISIBILITY', false);
					this.$store.commit('DOCTOR_VISIBILITY', true);
					this.$store.commit('SET_DOCTOR', doctor);
				})
				.catch((error) => {
					console.log('There was an error:', error.response);
				});
		},
		backToResults() {
			this.$store.commit('DOCTORS_VISIBILITY', true);
			this.$store.commit('DOCTOR_VISIBILITY', false);
		}
	}
};
</script>
